
@{
                Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="https://fonts.googleapis.com/css?family=Sofia&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
    <link href="~/Content/AdviceStyleSheet.css" rel="stylesheet" />
    <title>BaeAdviceMarried</title>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Bae Coach</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="@Url.Action("BaeHome", "BeaCoach")"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("DateIdeas", "BeaCoach")">Date Ideas</a></li>
                            <li><a href="@Url.Action("BaeScopes", "BeaCoach")">Horoscope</a></li>
                            <li><a href="@Url.Action("BaeJournal", "BeaCoach")">My Journal</a></li>
                            <li><a href="@Url.Action("BaeQuizzes", "BeaCoach")">Quizzes</a></li>
                            <li><a href="@Url.Action("BaeGifts", "BeaCoach")">Gifts</a></li>
                            <li><a href="@Url.Action("BaeAdvice", "BeaCoach")">Advice</a></li>
                            <li><a href="@Url.Action("Calender", "BeaCoach")">Planner</a></li>
                        </ul>
                    </li>
                    <li class="active"><a href="@Url.Action("BaeHome", "BeaCoach")"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></li>

                </ul>
                <ul class="nav navbar-nav navbar-right">

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("BaeProfile", "BeaCoach")"> View User Profile</a></li>
                            <li><a href="@Url.Action("UpdateInfo", "BeaCoach")">Update User Profile</a></li>
                            <li><a href="#">Log Out</a></li>

                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <br />
    <h2 class="mainheading"> Marriage Advice </h2>
    <div class="selection01">
        <img src="https://dz9yg0snnohlc.cloudfront.net/new-what-are-some-cute-marriage-quotes-2.jpg" style="width:400px;height:340px;border-style:solid; border-width:3px; border-color:black;">
    </div>
    <div class="articles01">
        <h4 style="text-decoration:underline;">
            Pointers:
        </h4>
        <p>
            <ul>
                <li>
                    Make sure your partner is your best friend, no matter what.
                </li>
                <li>
                    Don't expect them to read your mind.
                </li>
                <li>
                    At least once a day, try to say something complimentary to your spouse. Gentle words bring life and health!
                </li>
                <li>
                    Remember that criticism and nagging destroy love.
                </li>
                <li>
                    Focus on your spouse’s strengths rather than their weaknesses.
                </li>
            </ul>
        </p>
    </div>

    <div class="footer01">
        <h4 style="text-decoration:underline;">
            Good reads:
        </h4>
        <p>
            Advice From Couples Who’ve Been Married for Decades
            <br />
            Ashley Riddle Williams
            <br />
            <a class="linkAdvice" href="https://www.southernliving.com/healthy-living/marriage-advice">Click here to read...</a>
            <br />
            <br />
            <br />
            25 Pieces Of The Best Marriage Advice Ever
            <br />
            Dave Willis
            <br />
            <a class="linkAdvice" href="https://www.yourtango.com/2015284053/25-pieces-of-best-marriage-advice-ever">Click here to read...</a>
            <br />
            <br />
            <br />
            17 Things Married People Want Newlyweds To Know
            <br />
            Taryn Hillin
            <br />
            <a class="linkAdvice" href="hhttps://www.huffpost.com/entry/marriage-advice_n_5682906?guccounter=1&guce_referrer=aHR0cHM6Ly93d3cuZ29vZ2xlLmNvbS8&guce_referrer_sig=AQAAALkqsXCVGAci4Adot8g_x5xrvnMTEyzTrJ80Z7bg8bI8ULf0I_zjgttXAWq5gEFGfi8pxj9P21O7VMoc7cgPF1PLhlgA8wyQcvAuPcdkJZJaZq3n5Z8NRpgvPx8-2s6Y2AwC6TWNx70bBfL723YAuPfxcRNCOGClmoMPZkoieF4d">Click here to read...</a>
            <br /><br /><br />

        </p>
    </div>
</body>
</html>
