
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BaeGifts</title>
    <link href="https://fonts.googleapis.com/css?family=Sofia&display=swap" rel="stylesheet">
    <link href="~/Content/GiftsStyleSheet.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Bae Coach</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="@Url.Action("BaeHome", "BeaCoach")"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("DateIdeas", "BeaCoach")">Date Ideas</a></li>
                            <li><a href="@Url.Action("BaeScopes", "BeaCoach")">Horoscope</a></li>
                            <li><a href="@Url.Action("BaeJournal", "BeaCoach")">My Journal</a></li>
                            <li><a href="@Url.Action("BaeQuizzes", "BeaCoach")">Quizzes</a></li>
                            <li><a href="@Url.Action("BaeGifts", "BeaCoach")">Gifts</a></li>
                            <li><a href="@Url.Action("BaeAdvice", "BeaCoach")">Advice</a></li>
                            <li><a href="@Url.Action("Calender", "BeaCoach")">Planner</a></li>
                        </ul>
                    </li>
                    <li class="active"><a href="@Url.Action("BaeHome", "BeaCoach")"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></li>

                </ul>
                <ul class="nav navbar-nav navbar-right">

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("BaeProfile", "BeaCoach")"> View User Profile</a></li>
                            <li><a href="@Url.Action("UpdateInfo", "BeaCoach")">Update User Profile</a></li>
                            <li><a href="#">Log Out</a></li>

                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <br />
    <h2 class="mainheading"> Bae Shop </h2>

    <div class="maindiv">

        <div class="shop">
            <h3>
                Gifts
            </h3>
            <table class="itemsTable">
                @*This will change into a foreach*@
                <tr>

                    <td>
                        <img src="https://m.media-amazon.com/images/I/61gDpmMGvOL._SR500,500_.jpg" alt="KissMug" style="width:140px;height:155px;">
                    </td>
                    <td>
                        <h4>
                            Kissing Mugs Set
                        </h4>
                        <div class="description">

                            These kissing mugs set can be bought for your partner as an anniversary gift. They’re super cute and perfect for the winter months of cuddling up with hot chocolate!
                            <br /><br />
                            Price: R200
                            <br /><br />
                            <input id="purchaseBtn" type="button" value="Click here to purchase" /><br />
                        </div>

                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="https://m.media-amazon.com/images/I/81o4IVaOiLL._AC_UL320_.jpg" alt="Bath Bombs" style="width:140px;height:155px;">

                    </td>
                    <td>

                        <h4>
                            Love Bath Bombs
                        </h4>
                        <div class="description">

                            Treat your loved one with this Little Box of Love Gift Pack containing 6 luxurious Bath Melts.
                            Each product within contains a creamy blend of pure Cocoa and Shea Butters to deeply nourish and hydrate the skin.
                            <br /><br />
                            Price: R120
                            <br /><br />
                            <input id="purchaseBtn" type="button" value="Click here to purchase" /><br />
                        </div>
                    </td>
                <tr>

                    <td>
                        <img src="https://m.media-amazon.com/images/I/91Dmz9Fu2vL._AC_UL320_.jpg" alt="Toilet Paper" style="width:140px;height:155px;">
                    </td>
                    <td>
                        <h4>
                            Maad Romantic Novelty Toilet Paper
                        </h4>
                        <div class="description">


                            Nothing says ‘I love you’ more than giving a sheet! Idea 1st Paper Anniversary Gift, Birthday Present, Christmas Present or Valentine’s Day Gift.
                            Quality bathroom paper with no-smudge ink printing.
                            Hilarious message printed on each sheet!
                            <br /><br />
                            Price: R150
                            <br /><br />
                            <input id="purchaseBtn" type="button" value="Click here to purchase" /><br />
                        </div>

                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="https://m.media-amazon.com/images/I/61xSyLrY-EL._SR500,500_.jpg" alt="Gold Coated Rose" style="width:140px;height:155px;">

                    </td>
                    <td>

                        <h4>
                            Gold Coated Rose
                        </h4>
                        <div class="description">

                            It is made of 100% real beautiful fresh rose, then shaped and retained freshness by resin, you can even see the veins in the petals and leaves. Rose represents love, this gold and not fading rose symbolizes your forever love.
                            <br /><br />
                            Price: R210
                            <br /><br />
                            <input id="purchaseBtn" type="button" value="Click here to purchase" /><br />
                        </div>
                    </td>
                </tr>

            </table>
        </div>
        <div class="shop02">
            <h3>
                Books
            </h3>
            <table class="itemsTable">
                @*This will change into a foreach*@
                <tr>
                    <td>
                        <img src="https://images-na.ssl-images-amazon.com/images/I/51lIOLWv4BL._SX324_BO1,204,203,200_.jpg" alt="This is Going to Hurt-Book" style="width:140px;height:180px;">
                    </td>
                    <td>

                        <h4>
                            This is Going to Hurt: Secret Diaries of a Junior Doctor
                        </h4>
                        <div class="description">

                            ‘Painfully funny. The pain and the funniness somehow add up to something entirely good, entirely noble and entirely loveable.' - Stephen Fry
                            <br /><br />
                            Price: R45
                            <br /><br />
                            <input id="purchaseBtn" type="button" value="Click here to purchase" /><br />
                        </div>

                    </td>
                </tr>
                <tr>

                    <td>
                        <img src="https://images-na.ssl-images-amazon.com/images/I/51p%2BOSddJjL._SX307_BO1,204,203,200_.jpg" alt="Gold Coated Rose" style="width:140px;height:180px;">

                    </td>
                    <td>
                        <h4>
                            A Return to Love: Reflections on the Principles of a "Course in Miracles"
                        </h4>
                        <div class="description">

                            A Return to Love is based on the author’s experiences as a teacher and lecturer on the self-study guide A Course in Miracles. She explains how applying the principles of love to all difficulties can aid in healing and bring about a personal transformation of the reader.
                            <br /><br />
                            Price: R180
                            <br /><br />
                            <input id="purchaseBtn" type="button" value="Click here to purchase" /><br />
                        </div>
                    </td>
                </tr>

                <tr>

                    <td>
                        <img src="https://m.media-amazon.com/images/I/51B5H96bdDL._AC_UL436_.jpg" alt="Bath Bombs" style="width:140px;height:180px;">

                    </td>
                    <td>
                        <h4>
                            Relationships For Dummies
                        </h4>
                        <div class="description">

                            Whether you've just started dating or have been together with that special someone for years, Dr. Kate can help you: tell the difference between a healthy and an unhealthy relationship; have a more loving, fun-filled relationship; enjoy a more vibrant and satisfying sex life; work through most relationship problems; and find the positive and the fun in every relationship stage.
                            <br /><br />
                            Price: R210
                            <br /><br />
                            <input id="purchaseBtn" type="button" value="Click here to purchase" /><br />
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        @*</div>*@
    </div>
</body>
</html>
