
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sign-Up</title>
    <link href="~/StyleSheet1.css" rel="stylesheet" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>

    <style>
        label, p {
            color: white;
            font-size: 12px;
        }

        td {
            color: white;
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 5px;
        }

        input, select {
            color: black;
        }

        body {
            background: rgb(168,29,86);
            background: linear-gradient(to right, rgba(168,29,86,1) 50%, rgba(255,154,154,1) 100%);
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Bae Coach</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="@Url.Action("BaeHome", "BeaCoach")"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("DateIdeas", "BeaCoach")">Date Ideas</a></li>
                            <li><a href="@Url.Action("BaeScopes", "BeaCoach")">Horoscope</a></li>
                            <li><a href="@Url.Action("BaeJournal", "BeaCoach")">My Journal</a></li>
                            <li><a href="@Url.Action("BaeQuizzes", "BeaCoach")">Quizzes</a></li>
                            <li><a href="@Url.Action("BaeGifts", "BeaCoach")">Gifts</a></li>
                            <li><a href="@Url.Action("BaeAdvice", "BeaCoach")">Advice</a></li>
                            <li><a href="@Url.Action("Calender", "BeaCoach")">Planner</a></li>
                        </ul>
                    </li>
                    <li class="active"><a href="@Url.Action("BaeHome", "BeaCoach")"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></li>

                </ul>
                <ul class="nav navbar-nav navbar-right">

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("BaeProfile", "BeaCoach")"> View User Profile</a></li>
                            <li><a href="@Url.Action("UpdateInfo", "BeaCoach")">Update User Profile</a></li>
                            <li><a href="#">Log Out</a></li>

                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <center><h1 style="color:lightpink; font-family: 'Sofia'">Profile</h1></center><br />
    <div>
        @using (Html.BeginForm("UpdateInfo", "BeaCoach"))
        {
            <div style="text-align:center">
                <input id="Submit1" type="submit" value="Edit Profile" class="buttonLogin" />
            </div>
        }
        <table style="width:50%;" align="center">
            <tr>
                <td>Title:</td>
                <td style="text-align:right;">
                    <select id="Select1">
                        <option>Mr.</option>
                        <option>Ms.</option>
                        <option>Mrs.</option>
                        <option>Dr.</option>
                        <option>Prof.</option>
                        <option>Mx.</option>
                    </select>

                </td>
            </tr>
            <tr>
                <td>Name:</td>
                <td style="text-align:right;"><input id="Surname" type="text" name="name" required /></td>
                <td>Surname:</td>
                <td style="text-align:right;"><input id="Surname" type="text" name="Surname" required /></td>
            </tr>
            <tr>
                <td>Nickname:</td>
                <td style="text-align:right;"><input id="Salary" type="text" name="Salary" required /></td>
                <td>Relationship status:</td>
                <td style="text-align:right;">
                    <select id="Select1">
                        <option>Single</option>
                        <option>Relationship</option>
                        <option>Married</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Address:</td>
                <td style="text-align:right;"><input id="Text1" type="text" /><br /><p>Street Address</p></td>
            </tr>
            <tr>
                <td></td>
                <td style="text-align:right;"><input id="Text1" type="text" /><br /><p>Street Address 1</p></td>
            </tr>
            <tr>
                <td></td>
                <td style="text-align:right;"><input id="Text1" type="text" /><br /><p>City</p></td>
                <td style="text-align:right;"><input id="Text1" type="text" /><br /><p>State/Province</p></td>
            </tr>
            <tr>
                <td></td>
                <td style="text-align:right;"><input id="Text1" type="number" /><p>Postal/Zip Code</p></td>
                <td style="text-align:right;">
                    <input id="Text1" type="text" /><br /><p>Country</p>
                </td>
            </tr>
            <tr>
                <td>Email:</td>
                <td style="text-align:right;"><input id="Name" type="email" name="Name" required /></td>
            </tr>
            <tr>
                <td>Confirm Email:</td>
                <td style="text-align:right;"><input id="Name" type="email" name="Name" required /></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td style="text-align:right;"><input id="Name" type="password" name="Name" required /></td>
            </tr>
            <tr>
                <td>Confirm Password:</td>
                <td style="text-align:right;"><input id="Name" type="password" name="Name" required /></td>
            </tr>
            <tr>
                <td></td>
                <td style="text-align:right;"></td>
                <td></td>
                <td style="text-align:right;">
                    <input id="Submit1" type="submit" value="Deactivate Account" class="buttonLogin" />
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
