
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/StyleSheet1.css" rel="stylesheet" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>

    <meta name="viewport" content="width=device-width" />
    <title>BaeQuizzes</title>
</head>
<body>
    <div>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Bae Coach</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="@Url.Action("BaeHome", "BeaCoach")"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("DateIdeas", "BeaCoach")">Date Ideas</a></li>
                                <li><a href="@Url.Action("BaeScopes", "BeaCoach")">Horoscope</a></li>
                                <li><a href="@Url.Action("BaeJournal", "BeaCoach")">My Journal</a></li>
                                <li><a href="@Url.Action("BaeQuizzes", "BeaCoach")">Quizzes</a></li>
                                <li><a href="@Url.Action("BaeGifts", "BeaCoach")">Gifts</a></li>
                                <li><a href="@Url.Action("BaeAdvice", "BeaCoach")">Advice</a></li>
                                <li><a href="@Url.Action("Calender", "BeaCoach")">Planner</a></li>
                            </ul>
                        </li>
                        <li class="active"><a href="@Url.Action("BaeHome", "BeaCoach")"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></li>

                    </ul>
                    <ul class="nav navbar-nav navbar-right">

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("BaeProfile", "BeaCoach")"> View User Profile</a></li>
                                <li><a href="@Url.Action("UpdateInfo", "BeaCoach")">Update User Profile</a></li>
                                <li><a href="#">Log Out</a></li>

                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>

        <div>
            <center><h1 style="color:lightpink; font-family: 'Sofia'">BaeQuizzes</h1></center>
            <br />
            <br />
        </div>
        <center>
            <div class="dropdown">
                <button class="dropbtn" style="width:400px">Singles Quizzes</button>
                <div class="dropdown-content">
                    <a href=" https://www.buzzfeed.com/perpetua/zodiac-sign-relationship-quiz">Zodiac Relationship Quiz</a>
                    <a href="https://www.buzzfeed.com/jamedjackson/makeup-quiz-reveal-single-relationship">How single are you?</a>
                    <a href="https://www.buzzfeed.com/jamedjackson/quiz-brunch-romantic-partner">What type of partner do you need?</a>
                </div>
            </div>
        </center>
        <center>
            <div class="dropdown">
                <button class="dropbtn" style="width:400px">Couple Quizzes</button>
                <div class="dropdown-content">
                    <a href="https://www.psychologies.co.uk/test-what-kind-couple-are-you">What type of Psycological couple are you?</a>
                    <a href="https://www.buzzfeed.com/jasminnahar/what-kind-of-couple-are-you">What kind of couple are you?</a>
                    <a href="https://www.buzzfeed.com/mireyagonzalez/real-quick-like-are-they-the-one-or-nah">Is your current partner your soul mate?</a>
                </div>
            </div>
        </center>
        <center>
            <div class="dropdown">
                <button class="dropbtn" style="width:400px">Personality Test</button>
                <div class="dropdown-content">
                    <a href="https://www.16personalities.com/free-personality-test">16 Personality types</a>

                </div>
            </div>
        </center>
        <center>
            <div class="dropdown">
                <button class="dropbtn" style="width:400px">Love Language</button>
                <div class="dropdown-content">
                    <a href=" https://www.5lovelanguages.com/quizzes/">5 Love Languages</a>

                </div>
            </div>
        </center>
    </div>
</body>
</html>
